@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

body {
    background-color: rgb(255, 208, 80);
}

.container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Preahvihear', sans-serif;
    

}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

img {
    width: 250px;
}

footer {

    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0%;
}